.form-control{
    margin-left:600px;
    margin-right:-600px;
    
}
.btn{
    margin-left:850px;
    margin-right:-687px;
    margin-bottom: px ;
}
.search1{
    padding: ;
    background-color: aquamarine;
}
.search2{
    padding-bottom: 50pxpx;
}